# Arquivos auxiliares do LaTeX
*.aux
*.log
*.toc
*.out
*.bbl
*.blg
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz
*.nav
*.snm
*.vrb
*.lol

# Arquivos de cache de pacotes (ex: minted)
*.pyg
_minted*

# Arquivos temporários do editor
*.bak
*.swp
*.tmp

# VS Code
.vscode/

# MiKTeX local files
*.mp
*.mpx

# Outros arquivos temporários do sistema
Thumbs.db
.DS_Store
COMPUS TERMO DE AUTORIZAÇÃO DE DIVULGAÇÃO DO TRABALHO DE CONCLUSÃO DE CURSO (1) (1).docx
COMPUS_TERMO_DE_AUTORIZACAO_DE_DIVULGACAO_DO_TRABALHO_DE_CONCLUSAO_DE_CURSO_29_29_assinado.pdf
tcc_manoel_mieiro_final.pdf