# Arquivos auxiliares do LaTeX
*.aux
*.log
*.toc
*.out
*.bbl
*.blg
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz
*.nav
*.snm
*.vrb
*.lol

# Arquivos de cache de pacotes (ex: minted)
*.pyg
_minted*

# Arquivos temporários do editor
*.bak
*.swp
*.tmp

# VS Code
.vscode/

# MiKTeX local files
*.mp
*.mpx

# Outros arquivos temporários do sistema
Thumbs.db
.DS_Store
